Body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.img
{
 width: 10px;
    height: 10px
}
.navbar {
display: flex;
align-items: center;
justify-content: space-between;
background: rgb(81, 128, 245);
padding: 10px;
}

.right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container {
    display: flex;
    margin-top: 20px;
}

.card {
    border: 1px solid black;
    padding: 15px;
    margin: 10px;
    width: 300px;
}

.card.side {
    background: #f9f9f9;
}
